@use "tokens";
@use "smart-text";
@use "nav";
@use "sections";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

img,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
